<!--Footer-->
<footer class="pt-2">
    <div class="row">
        <div class=" col-lg-4 text-center pt-5">
            <a href=""><img class="logo-footer" src="../../assets/diseno/Logo.png" alt="Logo" width="150px"
                    height="100px"></a>
        </div>
        <div class="col-lg-4 flex-column pb-1 pt-1">
            <h4 class="text-center pb-2">Contacto</h4>
            <p class="text-center text-white">Cra. 52a #65-86 Medellin, Colombia</p>
            <p class="text-center text-white">Correo: camaviga11@gmail.com</p>
            <p class="text-center text-white">Telefono: +57 3104529650</p>
        </div>
        <div class="col-lg-4 flex-column pt-1">
            <h4 class="text-center">Siguenos</h4>
            <div class="text-center pt-4 pb-3 redes">

                <a href="https://discord.com/" target="_blank"><img class="top1" src="../../assets/diseno/discord.png"
                        alt="Favorito"><img class="top" src="../../assets/diseno/discord_top.png" alt="Favorito"></a>
                <a href="https://web.whatsapp.com/" target="_blank"><img class="top2" src="../../assets/diseno/whatsapp.png"
                        alt="Favorito"><img class="top" src="../../assets/diseno/whatsapp_top.png" alt="Favorito"></a>
                <a href="https://www.instagram.com/?hl=es" target="_blank"><img class="top3"
                        src="../../assets/diseno/instagram.png" alt="Favorito"><img class="top"
                        src="../../assets/diseno/instagram_top.png" alt="Favorito"></a>
                <a href="https://web.telegram.org/z/" target="_blank"><img class="top3" src="../../assets/diseno/telegram.png"
                        alt="Favorito"><img class="top" src="../../assets/diseno/telegram_top.png" alt="Favorito"></a>
            </div>
        </div>
        <div class="col-12">
            <hr class="text-white">
            <p class="text-center text-white">&#169; Copyright 2021. Todos los derechos reservados</p>
        </div>
    </div>
</footer>
<!--Footer end-->