    <!--Footer-->
    <footer class="bg-dark pt-2">
        <div class="row">
            <div class=" col-lg-4 text-center pt-4">
                <a href="index.html"><img class="logo-footer" src="../icons/controlador.png" alt="Logo" width="100px"
                        height="100px"></a>
            </div>
            <div class="col-lg-4 flex-column pb-1 pt-1">
                <h4 class="text-center pb-2">Contacto</h4>
                <p class="text-center text-white">Cra. 52a #65-86 Medellin, Colombia</p>
                <p class="text-center text-white">Correo: gamerstore@gmail.com</p>
                <p class="text-center text-white">Telefono: +57 3104529650</p>
            </div>
            <div class="col-lg-4 flex-column pt-1">
                <h4 class="text-center">Siguenos</h4>
                <div class="text-center pt-4 pb-3 redes">

                    <a href="https://discord.com/" target="_blank"><img class="top1" src="../icons/discord.png" alt="Favorito"><img class="top bg-dark"
                            src="../icons/discord_top.png" alt="Favorito"></a>
                    <a href="https://web.whatsapp.com/" target="_blank"><img class="top2" src="../icons/whatsapp.png" alt="Favorito"><img class="top bg-dark"
                            src="../icons/whatsapp_top.png" alt="Favorito"></a>
                    <a href="https://www.instagram.com/?hl=es" target="_blank"><img class="top3" src="../icons/instagram.png" alt="Favorito"><img class="top bg-dark"
                            src="../icons/instagram_top.png" alt="Favorito"></a>
                    <a href="https://web.telegram.org/z/" target="_blank"><img class="top3" src="../icons/telegram.png" alt="Favorito"><img class="top bg-dark"
                            src="../icons/telegram_top.png" alt="Favorito"></a>
                </div>
            </div>
            <div class="col-12">
                <hr class="text-white">
                <p class="text-center text-white">&#169; Copyright 2021. Todos los derechos reservados</p>
            </div>
        </div>
    </footer>
    <!--Footer end-->
